oceanbase-ce:
{{%% SERVERS %%}}
  tag: latest
  include: obd/observer.include.yaml
  global: 
    memory_limit: '8G'
    system_memory: '1G'
    datafile_size: '20G'
    cpu_count: '24'
    _system_tenant_limit_mode: '2'
{{%% PROXY_CONF %%}}
