###### lines below this line must be placed at the top of the file
unittest/**/test_*
unittest/**/*_test
unittest/**/**/test_*
unittest/**/**/*_test
unittest/**/unittest_*
!unittest/**/test_*.*
!unittest/**/**/test_*.*
!unittest/**/unittest_*.*
###### lines above this line must be placed at the top of the file
*.a
*.bak
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.log
*.log.wf
*.o
*.orig
*.patch
*.pyc
*.reject
*.run.*
*.swn
*.swp
*.temp.*
*.tmp
*my
*~
.clang_complete
.dep_create
.deps*
.libs
.project
.pydevproject
.vscode/
/.obdev
/.settings/
BROWSE
Build (GNU)
GPATH
GRTAGS
GTAGS
TAGS
build
build/
build_*/
build_debug
build_errsim
build_release
coverage.zip
coverage/
observer.log*
src/.settings/
src/election/election
src/election/election_admin
src/sql/parser/*.output
src/sql/parser/expr_parser.output
src/sql/parser/sql_parser.output
tags
unittest/clog/deploy/log_tool
unittest/clog/deploy/ob_server_main
unittest/clog/deploy/post_msg_main
unittest/clog/fake_ilog_dir*
unittest/common/kv_storecache
unittest/common/small_allocator
unittest/rpc/rpc_bench
unittest/sql/engine/*/test_*
unittest/sql/engine/expr/*_test
unittest/sql/engine/expr/arithmatic.out
unittest/sql/executor/rpc_remote_scheduler
unittest/sql/executor/stress_interm_result_manager
unittest/sql/executor/stress_scanner_pool
unittest/sql/optimizer/cost_model_util
unittest/sql/optimizer/storage_perf/storage_perf_cost
unittest/sql/resolver/ddl_resolver
unittest/storage/exception_transaction/ob_exception_transaction
unittest/storage/sstable
unittest/storage/tmp
unittest/storage/transaction/performance
deps/3rd
compile_commands.json
test/tmp
test/var
