# The ip only can be set when first start up.
# If you want to change ip you have to uninstall oceanbase and delete the data folder.
# And then install and start the oceanbase with the new ip
ip=127.0.0.1
mysqlPort=2881
rpcPort=2882
obshellPort=2886
rootPwd=""
redoDir=/var/lib/oceanbase/redo
dataDir=/var/lib/oceanbase/data
datafile_size=2G
datafile_next=2G
datafile_maxsize=20G
cpu_count=16
memory_limit=6G
system_memory=1G
log_disk_size=13G
enable_syslog_wf=false
enable_syslog_recycle=true
max_syslog_file_count=4
__min_full_resource_pool_memory=1073741824