name: Farm

on:
  pull_request:
    branches: [ master,develop ]
    paths-ignore:
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/pull_request_template.md'
      - 'README.md'
      - 'README_CN.md'
      - 'CONTRIBUTING.md'
  schedule:
    - cron: '30 9 * * *'

jobs:
  farm:
    if: ${{ github.repository_owner == 'oceanbase' }}
    name: Farm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout workspace
        uses: actions/checkout@v3
      - name: action by obfarm
        uses: ./.github/obfarm/
        id: farm
        with:
          pipeline_id: ${{ github.run_id }}
          project: ${{ github.repository }}

